* {
  margin: 0px;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  height: 40px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  border: 2px solid black;
}
.navbar__btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.navbar__btn:hover {
  background-color: aqua;
}
.navbar__btn:active {
  background-color: white;
}
.navbar__btn:visited {
  background-color: aqua;
}
