/* $dark: #0f110c;
$neutral: #cecccc;
$light: #9d6381;
$highlight: #fdecef;
$accent: #612940; */
.background {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #4c3a51;
  z-index: -1;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  /* height: 100%; */
  padding: 0px;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2470588235);
  font-size: 24px;
  color: white;
  background-color: #b25068;
  z-index: 1;
}
.navbar__logo {
  position: fixed;
  left: 0;
  margin: 20px;
}
.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
  padding: 20px;
  text-decoration: none;
  color: #4c3a51;
}
.navbar__btn:hover {
  background-color: white;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2470588235);
}
.navbar__btn:active {
  background-color: #774360;
}
.navbar__btn:visited {
  background-color: white;
}

.navbar-padding {
  height: 70px;
}

* {
  margin: 0px;
  font-family: "Arial", sans-serif;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  padding: 30px;
  color: white;
  background-color: #b25068;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2470588235);
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: #b25068;
  /* 
  box-shadow: 0px 6px 24px palette.$shadow; */
}
@media only screen and (max-width: 800px) {
  .body {
    width: 100vw;
  }
}
@media only screen and (min-width: 801px) {
  .body {
    width: 800px;
  }
}
.body__section {
  height: 100%;
  /* padding: 40px; */
}
.body--odd {
  background-color: #774360;
}
.body--even {
  background-color: #b25068;
}

.languages {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  justify-content: center;
  list-style: none;
}
.languages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 10px;
  /* color: palette.$highlight; */
  background-color: #774360;
  font-size: 72px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}
.about__title {
  display: block;
}
.about__subtitle {
  display: block;
}
.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .about__content {
    flex-direction: column;
  }
}
@media only screen and (min-width: 801px) {
  .about__content {
    flex-direction: row;
  }
}
.about__image {
  margin: 20px;
}
@media only screen and (max-width: 800px) {
  .about__image {
    width: 40vw;
    height: 40vw;
  }
}
@media only screen and (min-width: 801px) {
  .about__image {
    width: 200px;
    height: 200px;
  }
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.project__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.project__desc {
  display: flex;
  flex-direction: column;
}
.project__preview {
  display: block;
}
.project__img {
  width: 200px;
  height: 200px;
  margin: 40px;
  border-radius: 50px;
}
.project__img--odd {
  background: #774360;
  box-shadow: 20px 20px 36px #532f43, -20px -20px 36px #9b577d;
}
.project__img--even {
  background: #b25068;
  box-shadow: 20px 20px 36px #7d3849, -20px -20px 36px #e76887;
}
