@use "./partials/palette";
@use "./partials/typography";
@use "./partials/devices";

@use "./modules/defaults.scss";
@use "./modules/navbar.scss";

* {
	margin: 0px;
	font-family: typography.$main;
}

body {
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	@include defaults.flex-center;

	/* width: 100%; */

	padding: 30px;

	color: palette.$highlight;
	background-color: palette.$light;

	box-shadow: 0px 6px 24px palette.$shadow;
}

.body {
	@include devices.phone {
		width: 100vw;
	}
	@include devices.desktop {
		width: 800px;
	}

	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: palette.$highlight;
	background-color: palette.$light;
	/* 
	box-shadow: 0px 6px 24px palette.$shadow; */

	&__section {
		height: 100%;
		/* padding: 40px; */
	}

	&--odd {
		background-color: palette.$neutral;
	}

	&--even {
		background-color: palette.$light;
	}
}

.languages {
	display: grid;
	grid-template-columns: 120px 120px 120px;
	justify-content: center;

	list-style: none;

	&__icon {
		@include defaults.flex-center;

		height: 100px;
		width: 100px;

		margin: 10px;

		/* color: palette.$highlight; */
		background-color: palette.$neutral;

		font-size: 72px;
	}
}

.about {
	@include defaults.flex-center;
	flex-direction: column;

	height: 90vh;

	&__title {
		display: block;
	}

	&__subtitle {
		display: block;
	}

	&__content {
		@include defaults.flex-center;

		@include devices.phone {
			flex-direction: column;
		}
		@include devices.desktop {
			flex-direction: row;
		}
	}

	&__list {
		list-style: none;
	}

	&__image {
		@include devices.phone {
			width: 40vw;
			height: 40vw;
		}
		@include devices.desktop {
			width: 200px;
			height: 200px;
		}

		margin: 20px;
		border: 5px solid white;
		border-radius: 5px;
	}
}

.project {
	//@extend .body;

	@include defaults.flex-center;

	padding: 40px;

	&__container {
		@include defaults.flex-center;

		height: 100vh;
	}

	&__desc {
		display: flex;
		flex-direction: column;
	}

	&__preview {
		display: block;
	}

	&__img {
		width: 200px;
		height: 200px;

		margin: 40px;

		border-radius: 50px;

		&--odd {
			background: #774360;
			box-shadow: 20px 20px 36px #532f43, -20px -20px 36px #9b577d;
		}

		&--even {
			background: #b25068;
			box-shadow: 20px 20px 36px #7d3849, -20px -20px 36px #e76887;
		}
	}
}

.contact {
	padding: 40px;

	&__list {
		display: flex;
		justify-content: space-between;

		margin: 40px;
		padding: 0px;

		list-style: none;
	}

	&__info {
		@include defaults.flex-center;

		font-size: 128px;
		text-decoration: none;

		&:link {
			color: palette.$light;
		}

		&:visited {
			color: palette.$light;
		}

		&:hover {
			color: palette.$highlight;
		}

		&:active {
			color: white;
		}
	}
}
