@charset "UTF-8";
/* $dark: #0f110c;
$neutral: #cecccc;
$light: #9d6381;
$highlight: #fdecef;
$accent: #612940; */
.background {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #4c3a51;
  z-index: -1;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  /* height: 100%; */
  padding: 0px;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2470588235);
  font-size: 24px;
  color: white;
  background-color: #b25068;
  z-index: 1;
}
.navbar__logo {
  position: fixed;
  left: 0;
  margin: 20px;
}
.navbar__menu {
  opacity: 0;
  height: 70px;
  width: 70px;
  align-self: start;
  order: 1;
}
.navbar__menu--label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  align-self: start;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 600px) {
  .navbar__menu {
    display: block;
  }
  .navbar__menu--label {
    display: flex;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .navbar__menu {
    display: block;
  }
  .navbar__menu--label {
    display: flex;
  }
}
@media only screen and (min-width: 901px) {
  .navbar__menu {
    display: none;
  }
  .navbar__menu--label {
    display: none;
  }
}
.navbar__menu--label::after {
  content: "☰";
}
.navbar__menu:checked ~ .navbar__logo {
  display: none;
}
.navbar__menu:checked ~ .navbar__btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
}
.navbar__menu:checked ~ .navbar__btns > .navbar__btn {
  width: 100%;
}
.navbar__menu:checked + .navbar__menu--label::after {
  content: "X";
}
.navbar__btns {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
@media only screen and (max-width: 600px) {
  .navbar__btns {
    display: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .navbar__btns {
    display: none;
  }
}
@media only screen and (min-width: 901px) {
  .navbar__btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  /* padding: 20px; */
  text-decoration: none;
  color: #4c3a51;
}
.navbar__btn:hover {
  background-color: white;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2470588235);
}
.navbar__btn:active {
  background-color: #774360;
}
.navbar__btn:visited {
  background-color: white;
}

.navbar-padding {
  height: 70px;
}

* {
  margin: 0px;
  font-family: "Arial", sans-serif;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  padding: 30px;
  color: white;
  background-color: #b25068;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2470588235);
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: #b25068;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2470588235);
}
@media only screen and (max-width: 600px) {
  .body {
    width: 100vw;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .body {
    width: 100vw;
  }
}
@media only screen and (min-width: 901px) {
  .body {
    width: 800px;
  }
}
.body__section {
  height: 100%;
  /* padding: 40px; */
}
.body--odd {
  background-color: #774360;
}
.body--even {
  background-color: #b25068;
}

.languages {
  display: grid;
  justify-content: center;
  list-style: none;
  padding: 0px;
}
@media only screen and (max-width: 600px) {
  .languages {
    grid-template-columns: 120px 120px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .languages {
    grid-template-columns: 120px 120px 120px;
  }
}
@media only screen and (min-width: 901px) {
  .languages {
    grid-template-columns: 120px 120px 120px 120px;
  }
}
.languages__heading {
  margin: 40px;
}
.languages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  /* color: palette.$highlight; */
  background-color: #774360;
  font-size: 72px;
}
@media only screen and (max-width: 600px) {
  .languages__icon {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .languages__icon {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 901px) {
  .languages__icon {
    height: 100px;
    width: 100px;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}
.about__title {
  display: block;
}
.about__subtitle {
  display: block;
}
.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .about__content {
    flex-direction: column;
    padding: 10vw;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .about__content {
    flex-direction: column;
    padding: 10vw;
  }
}
@media only screen and (min-width: 901px) {
  .about__content {
    flex-direction: row;
    padding: 40px;
  }
}
.about__list {
  list-style: none;
}
.about__image {
  margin: 20px;
  border: 5px solid white;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  .about__image {
    width: 40vw;
    height: 40vw;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .about__image {
    width: 40vw;
    height: 40vw;
  }
}
@media only screen and (min-width: 901px) {
  .about__image {
    width: 200px;
    height: 200px;
  }
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.project__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.project__desc {
  display: flex;
  flex-direction: column;
}
.project__preview {
  display: block;
}
.project__img {
  width: 200px;
  height: 200px;
  margin: 40px;
  border-radius: 50px;
}
.project__img--odd {
  background: #774360;
  box-shadow: 20px 20px 36px #532f43, -20px -20px 36px #9b577d;
}
.project__img--even {
  background: #b25068;
  box-shadow: 20px 20px 36px #7d3849, -20px -20px 36px #e76887;
}

.contact {
  padding: 40px;
}
.contact__list {
  display: grid;
  padding: 0px;
  list-style: none;
}
@media only screen and (max-width: 600px) {
  .contact__list {
    grid-template-columns: repeat(1, 1fr);
    margin: 40px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .contact__list {
    grid-template-columns: repeat(1, 1fr);
    margin: 5vw;
  }
}
@media only screen and (min-width: 901px) {
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
    margin: 40px;
  }
}
.contact__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 128px;
  text-decoration: none;
}
.contact__info:link {
  color: #b25068;
}
.contact__info:visited {
  color: #b25068;
}
.contact__info:hover {
  color: white;
}
.contact__info:active {
  color: white;
}
